.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MyHeader{
  position: relative;
  margin-left: 80.5em;
}

.NavMenu{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
}

.MenuItems{
  margin: 0 0.4em 0 0;
  padding: 0;
}

.ButtonNav{
  padding: 0.4em 1em;
    font-weight: 700;
    transition-duration: .2s;
    transition-property: background-color;
    color: rgba(48, 88, 63, 0.842);
}

.content{
  padding-top: 3em;
  padding-bottom: 4em;
}

.main-header{

}

.align-center{
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
