body{
  text-align: center;
  height: 100%;
 
}
html{
  height: 100%;
}
header{
  background-image: url("../public/images/aurora.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 800px;
  min-height: 500px;
  z-index: 1;
  position: relative;
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-module--container{
  margin: 0 auto;
}

main {
  display: block;
}
.MyHeader{
  position: relative;
  margin-left: 80.5em;
}

.NavMenu{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
}

.MenuItems{
  margin: 0 0.4em 0 0;
  padding: 0;
}

.ButtonNav{
  padding: 0.4em 1em;
    font-weight: 1000;
    transition-duration: .2s;
    transition-property: background-color;
    color: rgba(250, 253, 251, 0.842);
}
.menu-link{
  display: block;
}

.btnNavColor{
  background-color: #61dafb;
}
.content{
  padding-top: 3em;
  padding-bottom: 4em;
}

.align-center{
  text-align: center;
}

.subtitle{
  margin-top: 0.6em;
  font-size: clamp(1.225em,2vw,1.6em);
  line-height: 1.5;
}

.block-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index-module--subtitle{
  max-width: 32em;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
